{%- assign social = site.bootstrap.social_links -%}

<ul class="text-center list-inline">
  {%- if social.instagram -%}<li class="list-inline-item"><a rel="me" class="link-secondary" href="{{ social.instagram }}"><i class="bi bi-instagram"role="img" aria-label="Instagram"></i></a></li>{%- endif -%}
  {%- if social.linkedin -%}<li class="list-inline-item"><a rel="me" class="link-secondary" href="{{ social.linkedin }}"><i class="bi bi-linkedin"role="img" aria-label="LinkedIn"></i></a></li>{%- endif -%}
  {%- if social.twitter -%}<li class="list-inline-item"><a rel="me" class="link-secondary" href="{{ social.twitter }}"><i class="bi bi-twitter"role="img" aria-label="Twitter"></i></a></li>{%- endif -%}
</ul>
