---
layout: home
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="d-flex flex-column vw-100 vh-100">

    {%- include header.html -%}

    <main class="page-content py-5 flex-shrink-0" aria-label="Content">
      <div class="container">

        <div class="vh-100">
     		<h1>Hi, I’m Jen</h1>
     		<h2>I’m a service designer and sometimes an interaction designer. But mostly I’m just into unravelling really complex problems and using design to help people do what they need to do. </h2>

      </div>

        <div class="vh-100">

<h1>What I do in a nutshell:</h1>

<p>I create change within businesses and organisations to make better services and bring people together to make sure we design things that people really need.</p>
</div>

<div class="vh-100">
<h1>I’m passionate about…</h1>
I’m most passionate about how we can use design to help the most vulnerable in society and ensure that they are part of the design process. 

I love working with likeminded people, looking at how we work, how we can improve things and working together to design better services, better practice and a better future, but also making sure we don’t forget the planet in the process!
</div>

<div class="vh-100">

  <h1>My skills:</h1>
  <ul>
 <li> User centred design and agile methodologies</li>
  <li>Mapping: eg. Service blueprinting, journey mapping, systems mapping</li>
  <li>Facilitation and workshop design </li>
  <li>Seeing systems and services</li>
  <li>Strategic thinking </li>
  <li>Spotting opportunities</li>
 <li> Using evidence to understand and design for user needs</li>
  <li>Prototyping</li>
  <li>Interaction design</li>
 <li> Building strong relationships with stakeholders</li>
  <li>Working in a multi-disciplinary team</li>
  <li>Sharing knowledge through coaching and mentoring</li>
</ul>

</div>

<div class="vh-100">

  The types of projects I work on

  For the past two years I’ve been working in the public sector and have worked on projects from pre-discovery through to Beta, with a good understanding of embedding the service standard throughout my work.

  I also work with the private and third sector and have worked with local and international clients over the past 15 years as a designer.
</div>



</div>




  
    </main>

    {%- include footer.html -%}

    <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
  </body>

</html>
