---
layout: home
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="d-flex flex-column vw-100 vh-100">

    {%- include header.html -%}

    <main class="page-content py-5 flex-shrink-0" aria-label="Content">
      <div class="container">
     		<h1>Hi, I’m Jen</h1>
     		<h2>I’m a service designer and sometimes an interaction designer. But mostly I’m just into unravelling really complex problems and using design to help people do what they need to do. </h2>

     		
Hi, I’m Jen
I’m a service designer and sometimes an interaction designer. But mostly I’m just into unravelling really complex problems and using design to help people do what they need to do. 

_______________

What I do in a nutshell:

I create change within businesses and organisations to make better services and bring people together to make sure we design things that people really need.

_______________

I’m passionate about…
I’m most passionate about how we can use design to help the most vulnerable in society and ensure that they are part of the design process. 

I love working with likeminded people, looking at how we work, how we can improve things and working together to design better services, better practice and a better future, but also making sure we don’t forget the planet in the process!

_______________

My skills:

User centred design and agile methodologies
Mapping: eg. Service blueprinting, journey mapping, systems mapping
Facilitation and workshop design 
Seeing systems and services
Strategic thinking 
Spotting opportunities
Using evidence to understand and design for user needs
Prototyping
Interaction design
Building strong relationships with stakeholders
Working in a multi-disciplinary team
Sharing knowledge through coaching and mentoring

—------------

The types of projects I work on

For the past two years I’ve been working in the public sector and have worked on projects from pre-discovery through to Beta, with a good understanding of embedding the service standard throughout my work.

I also work with the private and third sector and have worked with local and international clients over the past 15 years as a designer.



































I create change
I help people to look at a service through a user’s eyes, so that we design services around users' needs and most importantly ensure that the services we design are usable by everyone.

This involves a lot of things, but some of my favourite activities are:


Unravelling complex problems and observing opportunities to make things better for both the users and the business
Forming good relationships with key decision makers, ensuring they have the evidence and design they can stand behind in order to make meaningful change
Bringing teams together to create service blueprints, mapping things like transactions, touch points, business processes, technical architecture and data flows through and between services


I bring people together
I’ve designed workshops and sessions to bring together teams and stakeholders to do many things such as: gain a better understanding of the problems we are designing around, identify outcomes or scope out the work we are doing.

I’m passionate about ensuring that all voices are heard and people are able to participate, while ensuring people's time is used sparingly and workshops have useful outcomes. I always ensure I involve stakeholders in regular communication, whether it be through show and tells, one-to-ones or team sessions, making them part of the project's journey. 

I often work with lots of other disciplines on teams such as user researchers, technical architects, business analysts and delivery managers. I’m keen to learn new skills from them and also offer knowledge sharing, coaching or mentoring on all my projects.


I design things people need
I think the first step in design is being able to unify thinking through a shared understanding of the problem we are designing around. We need to be able to make what we are doing easy to understand by those around us.

Part of my role is zooming in and out. Sometimes I will spend time looking closely at the inner workings or a service and at other times will be looking at the overall systems in which the service sits. This way I can think strategically about what impact a change in the system or service would have.

I use prototyping and journey mapping to represent complex problems to understand how a design might meet a user's needs. I also have a wealth of interaction design experience creating prototypes for the private and public sector.


I work with the public, private and third sector
I’ve been a designer for over 15 years working with local and international businesses. zI spent many years in user experience design and interaction design and more recently over the past couple of years moving into service design.

Working in the public sector has involved me gaining a thorough understanding of the service standards and embedding them throughout my work, getting involved with communities of practice and sharing knowledge to design better services.



I’m passionate about…
I’m most passionate about how we can use design to help the most vulnerable in society and ensure that they are part of the design process. 

I love working with likeminded people, looking at how we work, how we can improve things and working together to design better services, better practice and a better future, but also making sure we don’t forget the planet in the process!








      </div>
    </main>

    {%- include footer.html -%}

    <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
  </body>

</html>
